{{>partial_header}}
syntax = "proto3";

package {{{packageName}}};

{{#imports}}
{{#import}}
import public "{{{modelPackage}}}/{{{import}}}.proto";
{{/import}}
{{/imports}}
{{! TODO: Importing ccloud.proto because I dont know how to include it only if it's needed yet. }}
import "ccloud.proto";

{{#models}}
{{#model}}
message {{classname}} {

  {{#vars}}
  {{#description}}
  // {{{.}}}
  {{/description}}
  {{^isEnum}}
  {{#vendorExtensions.x-protobuf-type}}{{.}} {{/vendorExtensions.x-protobuf-type}}{{vendorExtensions.x-protobuf-data-type}} {{name}} = {{vendorExtensions.x-index}}{{#vendorExtensions.x-protobuf-packed}} [packed=true]{{/vendorExtensions.x-protobuf-packed}}{{#vendorExtensions.x-internal}} [(ccloud.field).internal = true]{{/vendorExtensions.x-internal}};
  {{/isEnum}}
  {{#isEnum}}
  enum {{name}} {
    {{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{protobuf-enum-index}}};
    {{/enumVars}}
    {{/allowableValues}}
  }
  {{/isEnum}}

  {{/vars}}
}
{{/model}}
{{/models}}
